
.searchResultContainer__map {
    position: fixed;
    right: 0px;
    top: 5em;
    width: 50%;
    /* background-color: lightgray; */
    padding-right: 0;
    height:

   
}

.searchResultContainer__results {
    position: relative;
    padding: 5px;
    margin-right: 50%;
}


